<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- APPENDERS -->
	<appender name="main"
		class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="log/br.com.eduardo.log" />
		<param name="MaxFileSize" value="1024KB" />
		<param name="MaxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[Time:%d{yyyy-MM-dd HH:mm:ss}][Level:%p]%m%n" />
		</layout>
	</appender>

	<!-- CATEGORIES -->
	<category name="br.com.eduardo" additivity="false">
		<priority value="DEBUG" />
		<appender-ref ref="main" />
	</category>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="main" />
	</root>

</log4j:configuration>