<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
<meta charset="UTF-8">
<title>Vets</title>
</head>
<body>
	<h1 th:text="'List of Vets'">List of Vets...</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<td>ID</td>
				<td>First Name</td>
				<td>Last Name</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vet : ${vets}">
				<td th:text="${vet?.id}">1</td>
				<td th:text="${vet?.firstName}">George</td>
				<td th:text="${vet?.lastName}">Bush</td>
			</tr>
		</tbody>
	</table>
</body>
</html>