<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
          th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"
    >

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"
    ></script>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <title>Recipe APP</title>

</head>
<body>

<!--/*@thymesVar id="recipe" type="br.com.edu.recipe.app.domain.model.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row"  style="margin-top: 20px">
        <div class="col-md-6 offset-md-3">
            <form th:object="${recipe}" th:action="@{/recipe/}" method="post">

                <!-- HEADER -->
               <!-- <input type="hidden" th:field="*{id}"/>-->
                <div class="card border-primary">
                    <div class="card-header bg-primary">
                        <h2>Edit Recipe</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Recipe Description:</label>
                                <input type="text" class="form-control" th:field="*{description}"/>                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Categories</label>
                            </div>
                            <div class="col-md-9 from-group">
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" value="" />
                                        Cat 1
                                    </label>
                                </div>
                                <div class="radio" th:remove="all">
                                    <label>
                                        <input type="checkbox" value="" />
                                        Cat 2
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label>Prep Time:</label>
                                <input type="text" class="form-control" th:field="*{prepTime}" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Cook Time:</label>
                                <input type="text" class="form-control" th:field="*{cookTime}" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Difficulty:</label>
                                <select class="form-control">
                                    <option>Easy</option>
                                    <option>Medium</option>
                                    <option>Hard</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Servings:</label>
                                <input type="text" class="form-control" th:field="*{servings}" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Source:</label>
                                <input type="text" class="form-control" th:field="*{source}" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>URL:</label>
                                <input type="text" class="form-control" th:field="*{url}" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- INGREDIENTS -->
                <div class="card border-primary" style="margin-top: 20px">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col-md-11">
                                <h1 class="card-title">Ingredients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-secondary" href="#" role="button">Edit</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all"> 1 Cup of Milk</li>
                                    <li th:remove="all"> 1 Teaspoon of chocolate</li>
                                    <li th:each="ingredient : ${recipe.ingredients}"
                                        th:text="${(ingredient.getAmount()} +
                                                    ingredient.unityOfMeasure.getDescription() + '- '
                                                + ingredient.getDescription())"> 1 Teaspoon of sugar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DIRECTIONS -->
                <div class="card border-primary" style="margin-top: 20px">
                    <div class="card-header bg-primary">
                        <h1 class="card-title">Directions</h1>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" th:field="*{directions}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NOTES -->
                <div class="card border-primary" style="margin-top: 20px">
                    <div class="card-header bg-primary">
                        <h1 class="card-title">Notes</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>

</div>

</body>
</html>